
<div class="playerarea">
    <div class="playerarea1"> 
    Player1 <br/>
    Score:
    
    </div>
    <div class="playerarea2">
    Player2 <br/>
    Score:
    </div>
</div>

<div class="gamearea">
Game
</div>
