<h2>Setup new game</h2><br>
<form action="/newgamesetup" method="post">
 player1:<input type="text" name="player1"><br>
 player2:<input type="text" name="player2"><br>
 <input type="submit" value="Create!">
</form>